---
import MainHead from "../components/MainHead.astro";
import Footer from "../components/Footer/index.jsx";
import Nav from "../components/Nav/index.jsx";
---

<html lang="en">

<head>
	<MainHead title="Not Found" />
</head>

<body>
	<div id="wrapper">
		<div id="main">
			<header id="header">
				<h1>404</h1>
				<h2>Not found</h2>
			</header>
			<div id="tsparticles"></div>
		</div>
	</div>

</body>
<script is:inline src="/assets/js/particles.min.js"></script>
<script defer is:inline src="/assets/js/app.js"></script>

</html>