---
// Component Imports
import MainHead from "../components/MainHead.astro";
import Body from "../components/Body";
import Nav from "../components/Nav/index.jsx";
---

<html lang="en">
  <head>
    <MainHead
      title="Edsel Serrano"
      description="Edsel Serrano: Software Engineer, Machine learning lover, and Entrepreneur of Technology..."
    />
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1098294754637557"
     crossorigin="anonymous"></script>
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-KW47SVK"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <Nav />
    <div id="wrapper">
      <div id="main">
        <Body />
        <div id="tsparticles"></div>
      </div>
    </div>
     <script is:inline src="/assets/js/particles.min.js"></script>
    <script defer is:inline src="/assets/js/app.js"></script>
  </body>
</html>
