---
// Component Imports
import MainHead from "../components/MainHead.astro";
import Body from "../components/Body";
import Nav from "../components/Nav/index.jsx";
import ParticlesContainer from "../components/Particles/container";
import "../styles/main.css";
import { isMobile } from "react-device-detect";

const totalParticles = isMobile ? 20 : 100;
---

<html lang="en">
  <head>
    <MainHead
      title="Edsel Serrano"
      description="Edsel Serrano: Software Engineer, Machine learning lover, and Entrepreneur of Technology..."
    />
    <!-- <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1098294754637557"
      crossorigin="anonymous"></script> -->
    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>

  <body>
    <Nav />
    <div id="wrapper">
      <div id="main">
        <Body />

        <div className="container">
          <ParticlesContainer
            totalParticles={totalParticles}
            client:only="react"
          />
        </div>
        <!-- <Particles /> -->
      </div>
    </div>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-KW47SVK"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
  </body>
</html>
