---
interface Props {
  title: string;
  image: string | undefined;
}

const { title = "Home" } = Astro.props;
import { ViewTransitions } from "astro:transitions";
import "./layout.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="A blog about web development, javascript, typescript, react, vue, svelte, astro, nextjs, gatsby, and more"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:title" content="Blog of Edsel" />
    <meta
      property="og:description"
      content="A blog about web development, javascript, typescript, react, vue, svelte, astro, nextjs, gatsby, and more"
    />
    <meta property="og:url" content="https://edselserrano.com" />
    <title>{title}</title>
    <!-- Google Tag Manager -->
    <script defer>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
          "gtm.start": new Date().getTime(),
          event: "gtm.js",
        });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-KW47SVK");
    </script>
    <!-- End Google Tag Manager -->
    <ViewTransitions />
  </head>
  <body class="dark">
    <div class="relative h-screen p-2 gap-2 flex items-stretch">
      <div class="rounded-lg bg-zinc-900 flex-1 mx-auto overflow-y-auto">
        <slot />
      </div>
    </div>
    <div
      id="not-support"
      class="fixed hidden bg-red-700 bottom-0 inset-x-0 rounded-t-md text-center py-2 lg:py-4 z-50 font-semibold"
    >
      It seems your browser does not support view transitions yet :( try it
      using chrome or edge
    </div>
  </body>
</html>
